@model List<bloggie.web.Models.Domain.Tag>

@{
    ViewBag.Title = "List of Tags";
    Layout = "_Layout";
}

<h1>List of Tags</h1>


@if (Model.Count > 0)
{
    <form method="get" asp-action="List" asp-controller="AdminTags">
        <div class="input-group mb-3">
            <input type="search" class="form-control" placeholder="Search tags" name="search">
            <button class="btn btn-dark" type="submit">Search</button>
        </div>
    </form>

    <!-- Button to redirect to all list -->
    <a href="@Url.Action("List", "AdminTags")" class="btn btn-primary mb-3">Back to All Tags</a>
    
    <p>There are @Model.Count tags in the database.</p>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Display Name</th>
            <th>Actions</th> <!-- New column for actions -->
        </tr>
        </thead>
        <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <td>@tag.Id</td>
                <td>@tag.Name</td>
                <td>@tag.DisplayName</td>
                <td>
                    <a href="@Url.Action("Edit", "AdminTags",
    new { id = tag.Id })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Delete", "AdminTags",
    new { id = tag.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>There are no tags in the database.</p>
}